.login-page-bg {
    background-color: var(--color-bg-primary);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-secondary);
    padding: 16px;
    width: 100%;
    max-width: 400px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.login-page-content > h4 {
    color: var(--color-text-primary);
    margin: 30px 0;
    font-weight: normal;
    font-size: 24px;
}

.login-form {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin: 20px 0;
    width: 300px;
}



.login-form > div {
    margin: 5px 0;
}

.login-form > button {
    margin-top: 18px;
    font-size: 16px;
    border-radius: 8px;
    border: 0;
    height: 35px;
    background-color: var(--color-bg-block-3);
    box-shadow: 0 3px 10px 0 rgba(155, 143, 143, 0.5);
    cursor: pointer;
    transition: 0.2s;
}

.login-form > button:hover {
    background-color: var(--color-bg-block-3-hover);
}

.login-form > button:disabled {
    box-shadow: 0 0 0;
}

.login-form > div {
    display: flex;
    flex-direction: column;
    color: var(--color-text-tertiary);
}

.login-form ~ div {
    font-size: 12px;
    margin: 20px 0;
    color: var(--color-text-tertiary);
}

.login-form ~ div > a {
    color: var(--color-text-tertiary);
}