
.messages-area {
    background-color: var(--color-bg-primary);
    height: 100%;
    width: 100%;
    position: relative;
}

.input-container {
    width: 60%;
    margin: 0 auto;
}

.messages-list-container {
    width: 100%;
    height: calc(100% - 78px);
    overflow: auto;
}

.messages-list {
    margin: 0 auto;
    width: 60%;
    height: 100%;
}


