.user-card-container {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 4px 12px;
    padding: 0 12px;
    height: 72px;
    transition: 0.2s;
    border-radius: 8px;
}

.user-card-clickable {
    cursor: pointer;
}

.user-card-container:hover{
    background-color: var(--color-bg-secondary-hover);
}

.user-card-selected {
    background-color: var(--color-bg-block-4);
}

.user-card-selected:hover {
    background-color: var(--color-bg-block-4-hover);
}

.user-card-avatar {
    display: flex;
    position: relative;
}

.user-card-avatar > img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
}
.user-card-avatar > span {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid var(--color-bg-secondary);
    background-color: green;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2) inset;
    position: absolute;
    right: 0;
    bottom: 0;
}

.user-card-content {
    margin-left: 20px;
    width: 100%;
}