
.chat-list-container {
    position: relative;
    height: 100%;
}

.chats {
    height: calc(100%);
    overflow-y: auto;
    overflow-x: hidden;
}

.write-message {
    position: absolute;
    background-color: var(--color-bg-block-3);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
}

.write-message:hover {
    background-color: var(--color-bg-block-3-hover);
}

.write-message > img {
    height: 18px;
    width: 18px;
}

.empty-chat-list {
    color: var(--color-text-tertiary);
    text-align: center;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

