
.edit-profile-avatar {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    padding: 35px 0 0 0;
}

.edit-profile-avatar > input {
    display: none;
}

.edit-profile-avatar > label > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.edit-profile-avatar > label > img:hover {
    filter: brightness(70%);
}