.chat-settings-item {
    display: flex;
    justify-content: space-between;
    color: var(--color-text-primary);
}

.chat-settings-item > div > span {
    color: var(--color-text-secondary);
}

.chat-settings-item > div {
    display: flex;
    align-items: center;
}
.chat-settings-item > div > div {
    margin-right: 10px;
}
