.message-input-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 90%;
    bottom: 20px;
}

@media (min-width: 1280px) {
    .message-input-container {
        width: 60%;
    }
}

.button-send-message {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #8fa0af;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
}

.button-send-message:hover {
    background-color: var(--color-bg-block-3-hover);
}

.button-send-message > span {
    margin-left: -9px;
    margin-top: -9px;
}

.button-send-message > div {
    margin-left: 4px;
}

.message-input {
    padding: 8px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    min-height: 34px;
    width: calc(100% - 90px);
    background-color: var(--color-bg-primary);
    border: 1px solid var(--color-border-primary);
    border-radius: 12px;
}

.message-input-top {
    display: flex;
    align-items: end;
}

.message-input-bottom {
    max-height: 50px;
    overflow-y: auto;
}

.message-input-bottom > input {
    display: none;
}

.message-input-file {
    font-size: 12px;
    color: var(--color-text-tertiary)
}

.textarea {
    display: block;
    width: 100%;
    overflow: auto;
    resize: none;
    min-height: 20px;
    max-height: 300px;
    font-size: 14px;
    color: var(--color-text-primary);
    margin: auto 0;
}

.textarea:focus {
    outline: none;
}

.textarea[contenteditable]:empty::before {
    content: "Сообщение";
    cursor: text;
    color: var(--color-text-tertiary);
}

.button-attach-file {
    margin-bottom: 6px;
    margin-left: 6px;
}
