
.change-password-container {
    width: 100%;
}

.change-password-form {
    padding: 10px 50px;
}

.change-password-form > div {
    margin-top: 10px;
}

.change-password-form > div > label {
    color: var(--color-text-secondary);
    font-size: 14px;
}

.change-password-form > button{
    margin-top: 18px;
    font-size: 14px;
    border-radius: 8px;
    border: 0;
    height: 35px;
    background-color: var(--color-bg-block-3);
    cursor: pointer;
    transition: 0.2s;
    width: calc(100% - 5px);
}

.change-password-form > button:hover {
    background-color: var(--color-bg-block-3-hover);
}

.change-password-form > button:disabled {
    box-shadow: 0 0 0;
}