.search-input {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 32px;
    padding: 0 5px;
    border: solid 1px var(--color-border-primary);
    border-radius: 8px;
    margin: 0 15px;
}

.search-input > input {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    width: 100%;
    font-size: 14px;
    color: var(--color-text-secondary);
}

.search-input > img{
    height: 18px;
    margin: 0 5px;
}

.search-input > input:focus{
    outline: none;
}
.search-input > input::placeholder{
    color: var(--color-text-tertiary);
}