.input-container {
    width: 90%;
    margin: 0 auto;
    transition: 0.2s;
}

.messages-list-container {
    width: 100%;
    height: calc(100% - 78px);
    overflow: auto;
}

.messages-list {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    transition: 0.2s;
}

@media (min-width: 1280px) {
    .messages-list {
        width: 60%;
    }
    .input-container {
        width: 60%;
    }
}

.messages-list-empty {
    width: 100%;
    height: 100%;
    color: var(--color-text-tertiary);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}