.friends-list-container {
    height: 100%;
    width: 100%;
    position: relative;
}

.friends-list {
    height: calc(100% - 70px);
    width: 100%;
    overflow-y: auto;
}

.empty-friends-list {
    color: var(--color-text-tertiary);
    text-align: center;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}