
.main-bar {
    background-color: var(--color-bg-primary);
    height: 100%;
    width: 100%;
    position: relative;
}

@media (max-width: 800px) {
    .main-bar {
        /*display: none;*/
    }
}

.main-bar-content {
    height: calc(100% - 65px);
    width: 100%;
}


