
.contacts-list-container {
    min-width: 300px;
    background-color: var(--color-bg-secondary);
    transition: 0.2s;
    position: relative;
    /*border-top: 1px solid var(--color-bg-primary);*/
    box-shadow: 0 2px 10px 0 var(--color-bg-primary) inset;
}

.contacts {
    height: calc(100% - 60px);
    overflow-y: auto;
    overflow-x: hidden;
}

.write-message {
    position: absolute;
    background-color: var(--color-bg-block-3);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
}

.write-message:hover {
    background-color: var(--color-bg-block-3-hover);
}

.write-message > img {
    height: 18px;
    width: 18px;
}

@media (min-width: 1050px) {
    .contacts-list-container {
        min-width: 500px;
    }
}