
.profile-avatar {
    height: 30%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.profile-main-info {
    padding: 10px 25px;
    border-bottom: 2px solid var(--color-border-primary);
}

.profile-data-primary {
    font-size: 24px;
    color: var(--color-text-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-data-secondary {
    font-size: 16px;
    display: flex;
    color: var(--color-text-secondary);
    margin: 9px 0;
}

.profile-data-secondary > div {
    margin-right: 7px;
}

.profile-actions {
    padding: 10px 15px;
}

.profile-btn-secondary {
    font-size: 16px;
    display: flex;
    color: var(--color-text-secondary);
    margin: 2px 0;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 15px;
    transition: 0.2s;
}

.profile-btn-secondary:hover{
    background-color: var(--color-bg-secondary-hover);
}

.profile-btn-secondary > div {
    margin-right: 7px;
}

